# OS X
.DS_Store*
Icon?
._*
.vscode


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

#Editor
.vscode
# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

#env
.env
